// CARDLIST
.cardlist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 27rem;

  .card {
    max-height: 28rem;
    min-width: 225px;
    margin: 0;
    display: grid;
    grid-template-rows: 10em 4em 1fr;
    justify-items: center;
  }

  .svgcolor {
    fill: $boston-blue;
  }

  .flexsvg {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 4rem 0 2rem 0;
  }

  svg {
    width: 4.6em;
  }

  a {
    color: #377bc7;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
  }

  .text {
    width: 220px; /* Vous pouvez ajuster cette valeur en fonction de vos besoins */
    text-align: center;
    padding: 0 .95em;
    font-size: 1rem;
  }

  .actions {
    color: #377bc7;
    background: #c7f0fe;
  }

  .aide {
    color: #377bc7;
    background: #ffe7cb;
  }

  .partenaire {
    color: #377bc7;
    background: #f7e5e7;
  }

  .temoigner {
    color: #377bc7;
    background: #cbd7f2;
  }
}

/* Media query pour le redimensionnement dynamique */
@media screen and (max-width: 936px) {
  .cardlist {

    grid-template-columns: repeat(2, 1fr); /* Passer à 2 colonnes sur les écrans plus petits */
  }
}

/* Media query pour le redimensionnement dynamique */
@media screen and (max-width: 550px) {
  .cardlist {
    display: flex;
    flex-direction: column; /* Passer à 2 colonnes sur les écrans plus petits */
  }
}
