nav {
  background-color: $boston-blue;

  .mobile-menu-icon {
    display: none; 
    cursor: pointer;
  
    @media (max-width: 768px) {
      display: block; 
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px; 
    }
  }

  .grid-container-logo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 20px;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo-container {
    grid-column: 6/8;
    justify-self: center;
    width: 218px;
    height: 211px;
    object-fit: cover;
  }
  .input-wrapper {
    grid-column: 11;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .input-container {
      max-width: 100px;
      height: 20px;
    }

    @media (max-width: 768px) {
      display: none;
    }
    
  }
  .empty {
    width: 250px;

    @media (max-width: 768px) {
      display: none;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav {
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 0;

      li {
        margin: 0 10px;
        
        a {
          color: $white-color;
          text-decoration: none;
          
          &:hover {
            color: $tequila;
          }
          
        }
        .active-link {
          color: $link-water;
        }
      }

      button {
        background: none;
        border: none;
        color: $white-color;
        cursor: pointer;
      }
    }

    .social-nav {
      display: flex;
      justify-content: center;
      padding-right: 2%;
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        margin: 0 10px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }


}

.menu-dropdown{
  font-weight: 400 !important;
  padding: 0 !important;
  text-transform: none !important;
  font-family: 'Mada' !important;
  font-size: 16px !important;
  justify-content: flex-start !important;
}

.MuiMenu-paper{
  background-color: $boston-blue !important;
  color: $white-color !important;
  box-shadow: none !important;
  border-radius: 0!important;


  .MuiMenuItem-root{
    font-family: 'Mada' !important;
  }
}