.containe {
  // background-color: $boston-blue;
  background-color: $boston-blue;
  width: 100%;
  padding: 0 20%;
  padding-top: 6rem;
  padding-bottom: 10rem;
  // font-family: "Black-mango";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex: 1;
  justify-content: center;

  .formulaire {
    // width: 100%;
    color: $boston-blue;
    // margin: 0 20.5rem;
    padding: 0 6rem 12rem;
    background-color: $selago;

    h1 {
      padding: 2.5rem 0;
      font-family: "Black-mango";
      text-align: center;
      color: $boston-blue;
      font-size: 2.65rem;
      font-weight: normal;
    }

    form {
      input {
        box-sizing: border-box;
        padding: 16px 0;
        width: 100%;
        margin: 0.5rem 0 2.5rem;
        border: none;
        background-color: $selago;
        border-bottom: 0.3rem solid $tequila;
      }

      input[type="checkbox"] {
        box-sizing: border-box;
        appearance: none;
        background-color: $selago;
        margin: 10px;
        padding: 8px;
        color: $tequila;
        width: 1.15em;
        height: 1.15em;
        border: 2px solid $tequila;

        &.allUnChecked {
          border-color: red;
          &:hover {
            border-color: red;
          }
        }

        &:hover {
          block-size: inherit;
          border-color: $boston-blue;
          // color: $tequila;
        }

        &:checked {
          border-color: $boston-blue;
          color: $boston-blue;
          background-color: $boston-blue;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

          &:hover {
            border-color: $tequila;
            color: $tequila;
            background-color: $tequila;
          }
        }
      }

      *::placeholder {
        font-style: italic;
        color: $boston-blue;
        font-size: 0.8rem;
        padding-left: 0.5rem;
      }

      input:not([type="checkbox"]) {
        font-style: italic;
        color: $boston-blue;
        font-size: 0.8rem;
        padding-left: 0.5rem;

        &.empty {
          border-top: 2px solid $selago;
          border-bottom: 3px solid red;

          &:focus {
            border-bottom: 3px solid red;
          }
          &:hover {
            border-bottom: 3px solid red;
          }
        }
        &.invalidMail {
          border-top: 2px solid $selago;
          border-bottom: 3px solid red;

          &:focus {
            border-bottom: 3px solid red;
          }
          &:hover {
            border-bottom: 3px solid red;
          }
        }
        &.invalidTel {
          border-top: 2px solid $selago;
          border-bottom: 3px solid red;

          &:focus {
            border-bottom: 3px solid red;
          }
          &:hover {
            border-bottom: 3px solid red;
          }
        }

        &:hover {
          border-top: 2px solid $selago;
          border-bottom: 3px solid $boston-blue;
        }

        &:focus {
          outline: none;
          border-top: 2px solid $selago;
          border-bottom: 3px solid $boston-blue;
        }
      }

      .flex {
        display: flex;
        flex-direction: row;
        // flex: 1;
        // justify-content: space-between;
        gap: 3rem;

        input {
          padding: 6px 0;
          margin: 0.5rem 0 2.5rem;
        }

        label {
          box-sizing: border-box;
          width: 100%;
        }
      }

      .flex2 {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-bottom: 1.5rem;

        .checkbox {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          label {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .coord {
            width: 100%;
            display: flex;
            flex-direction: column;
            // margin: .5rem 0 2.5rem;
          }
        }
      }

      .mailto {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 1rem;

        .newsletter {
          width: 100%;
          label {
            width: 100%;
            display: flex;
            flex-direction: row;
            // flex: 1;
            justify-content: center;
            gap: 0.5rem;
            align-items: center;
          }
        }
      }

      .g-recaptcha {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        transform: scale(0.9); /* Ajustez la valeur selon vos besoins */
        transform-origin: 0 0; /* Ajustez selon votre préférence pour l'origine de la transformation */
      }

      .button {
        content: "";
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        button {
          width: 40vw;
          color: white;
          background-color: $boston-blue;
          border: none;
          border-radius: 6px;
          height: 3rem;
          font-size: 1.6em;
          padding: 12rem auto;

          &:hover:not(:disabled) {
            // Changez la couleur de fond lorsque le bouton est survolé mais pas désactivé
            background-color: $tequila;
            color: $boston-blue;
            transition: all 0.5s ease;
          }

          &:disabled {
            background-color: gray; // Changez la couleur de fond lorsque le bouton est désactivé
            cursor: not-allowed; // Changez le curseur pour indiquer qu'il n'est pas cliquable
            opacity: 0.7; // Réduisez l'opacité pour indiquer qu'il est désactivé
          }

          &:disabled:hover {
            background-color: gray; // Changez la couleur de fond lorsque le bouton est désactivé et survolé
            cursor: not-allowed; // Changez le curseur pour indiquer qu'il n'est pas cliquable
            opacity: 0.7; // Réduisez l'opacité pour indiquer qu'il est désactivé et survolé
          }
        }
      }
    }
  }
}
