//Colors sass colors
$boston-blue: #4A919E;
$white-color :#FEFEFF;
$link-water: #A5BFE6;

$onahau: #C7F0FE;
$tequila: #FFE7CB;
$vanilla-ice: #F7E5E7;

$selago: #ECF4FC;
$zorba: #9a8c86;
$aths-special: #EBE2CB;

$zorba: #9a8c86;

