//Colors sass colors
$boston-blue: #377BC7;
$white-color :#FEFEFF;

$onahau: #C7F0FE;
$tequila: #FFE7CB;
$vanilla-ice: #F7E5E7;
$link-water: #CBD7F2;
$selago: #ECF4FC;
$zorba: #9a8c86;
$aths-special: #EBE2CB;

$zorba: #9a8c86;