/* Style de la zone du carrousel */
.carouss {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 50%;
    max-height: 70%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: var(--slides-overflow);
    grid-area: 1/1/1/1;
    --transition-duration: 1500ms;
    position: relative;
    --bg-gradient: none;
  }
  
  /* Style des boutons de navigation du carrousel */
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Style du bouton précédent (gauche) */
  .prev {
    left: 10px;
  }
  
  /* Style du bouton suivant (droite) */
  .next {
    right: 10px;
  }
  
  /* Style du conteneur de l'image */
  .mgs {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  /* Style de l'image du carrousel */
  .mesImages {
    width: 100%;
    height: 85vh; /* Modification ici pour que l'image prenne 100% de la largeur */
    object-fit: cover;
    display: block;
  }
  
  /* Style de l'overlay (contenu superposé) */
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style du paragraphe dans l'overlay */
  .overlay-content p {
    font-size: 83px;
    line-height: 1.1em;
    color: white; /* Couleur du texte */
  }
  
  /* Style du lien dans l'overlay */
  .overlay-content a {
    display: inline-block;
    margin-top: 20px; /* Espace entre le texte et le lien */
    padding: 10px 20px;
    background-color: #007bff; /* Couleur du fond du bouton */
    color: white; /* Couleur du texte du bouton */
    text-decoration: none;
    border-radius: 5px;
  }
  